{% load static %}

<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="{% static 'cms/img/profile_small.jpg' %}"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">David Williams</span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                                <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="{% url 'cms:dashboard' %}"><i class="fa fa-th-large"></i>
                            <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="{% url 'cms:dashboard' %}">Dashboard</a></li>
                            <li><a href="dashboard_2.html">Dashboard 2</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'food-category:food_category_list' %}">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Food Category</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="{% url 'food-category:food_category_list' %}">Category List</a></li>
                            <li><a href="{% url 'food-category:add_form' %}">Category Add</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">Menu Manager</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#">List</a></li>
                            <li><a href="#">Add</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
