<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.8
*
-->
<!DOCTYPE html>
{% load static %}
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'cms/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cms/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{% static 'cms/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{% static 'cms/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

    <link href="{% static 'cms/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'cms/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        {% include 'cms/includes/side_bar.html' %}

        <div id="page-wrapper" class="gray-bg dashbard-1">
            {% include 'cms/includes/top_header.html' %}

            {% block content %}

            {% endblock %}

            {% include 'cms/includes/footer.html' %}
        </div>

        {% include 'cms/includes/chat.html' %}
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'cms/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'cms/js/popper.min.js' %}"></script>
    <script src="{% static 'cms/js/bootstrap.js' %}"></script>
    <script src="{% static 'cms/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'cms/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'cms/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    {% block page_specific_js %}

    {% endblock %}

</body>
</html>
